h1 {
  background-color: #ced0ce;
  margin-top: 0;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  text-shadow: 1px 1px #191919;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}
body {
  background-color: #191919;
  color: #e6e8e6;
}
p {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
img {
  height: 100px;
  float: left;
  background-color: aqua;
}
div{
    margin-top: 50px;
}
li:nth-child(odd) {
    color: orange;
}